@default_color: #49BFF6;
.display{
    display: none;
}
.cursor{
    cursor: pointer;
}
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    .nav{
        height: 4em;
        line-height: 4em;
        font-size: 1.3em;
        background: #fff;
        color: @default_color; 
        display: flex;
        .logo{
            flex: 2;
            text-align: center;
            .cursor;
        }
        .nav-item{
            flex: 1;
            text-align: center;
            .cursor;
        }
    }
    .main-content{
        .main-pic{
            img{
                width: 100%;
                height: 40em;
            }
        }
        .main-intro{
            margin-top: 2em;
            .subintro{
                 text-align: center;
            }
            .intro-content{
                .line-one,.line-two{
                    display: flex;
                    margin-top: 2em;
                }
                .item{
                    flex: 1;
                    width: 100px;
                    padding: 1em 8em;
                    .icon{
                         font-size: 4em;
                         color: @default_color;
                    }
                    .title{
                        margin: 0.7em 0;
                        font-size: 1.4em;
                    }
                    .content{
                        color: #999;
                         
                    }
                }
            }
        }
    }
}
