@default_color: #49BFF6;
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    .nav{
        height: 4em;
        line-height: 4em;
        font-size: 1.3em;
        background: #fff;
        color: @default_color; 
        display: flex;
        .logo{
            flex: 2;
            text-align: center;
        }
        .nav-item{
            flex: 1;
            text-align: center;
        }
    }
}
