.cus-container{
    background-color: #fdf6e3;
}
.common-sidebar{
    width: 25%;
    display: inline-block;
    height: 100%;
    background-color: #eee8d5;
}
.common-content{
    display: inline-block;
    width: 73%;
    padding: 40px;
}