.submit-page{
    padding-bottom: 40px;
}
.submit-page h1{
    margin: 0 0 40px 0;
    font-weight: normal;
    text-transform: uppercase;
}
.submit-page .control-label{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 40px;
    line-height: 1.5;
    padding-top: 7px;
}
.form-horizontal .controls {
    margin-left: 180px;
}
.form-horizontal .control-group{
    margin-bottom: 20px;
}
.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
.submit-page input[type="text"] {
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    padding-left: 10px;
    box-sizing: border-box;
    color: #586e75;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    background: #eee8d5;
}

.submit-page input {
    width: 410px;
    height: 40px;
}

.submit-page button[type="submit"] {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    padding: 20px;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    color: #839496;
    outline: none;
    background: #eee8d5;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    position: relative;
}

.submit-page button[type="submit"]:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 0;
    margin-right: -20px;
    border-left: 20px solid #eee8d5;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}