<div class="nav">
    <div class="ui menu nav-menu">
        <a class="item logo" href="/">LOGO is on the way</a>
        <div class="ui pointing dropdown link item nav-item">
        <span class="text">教程</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">安装</div>
            <div class="item">基础操作</div>
            <div class="item">进阶教程</div>
            </div>
        </div>
        <a class="item nav-item" href="/interactive/index">互动教程</a>
        <a class="item nav-item">配置文件</a>
        <div class="ui pointing dropdown link item nav-item">
        <span class="text">插件</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">精选插件</div>
            <div class="item">发现插件</div>
            </div>
        </div>
        <a class="item nav-item">环境搭建</a>
        <div class="ui pointing dropdown link item nav-item">
        <span class="text">游戏</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">VIM 大冒险</div>
            <div class="item">发现插件</div>
            </div>
        </div>

    </div>
</div>
