{% extends "common/layout.html" %}
{% block content %}
    <div class="main-content">
        <div class="main-pic">
            <img  src="/img/vim.png">
        </div>    
        <div class="main-intro">
            <div class="subintro">
                <h1>这里有</h1>
                <h5>我们尽可能提供充分的 VIM 学习资源，让所有用户能快速的从零入门 VIM，
                    不论是想将其作为主要编辑工具，还是在服务器上进行简单的操作，都能得心应手。</h5>
            </div>
            <div class="intro-content">
                <div class="line-two">
                    <div class="item">
                        <div class="icon fa fa-book"></div>
                        <div>基础教程</div>
                        <div></div>
                    </div>
                    
                    <div class="item">
                        <div class="icon"></div>
                        <div>基础教程</div>
                        <div></div>
                    </div>
                    
                    <div class="item">
                        <div class="icon"></div>
                        <div>基础教程</div>
                        <div></div>
                    </div>
                </div>
                <div class="line-one">
                    <div class="item">
                        <div class="icon"></div>
                        <div>基础教程</div>
                        <div></div>
                    </div>
                    
                    <div class="item">
                        <div class="icon"></div>
                        <div>基础教程</div>
                        <div></div>
                    </div>
                    
                    <div class="item">
                        <div class="icon"></div>
                        <div>基础教程</div>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
