{% extends "common/layout.html" %}
{% block content %}
    <div class="main-content">
        <div class="main-pic">
            <div class="title">
                <div class="t1">Hi, VIM</div>
                <div class="t2">VIM 完全指南</div>
                <div class="t3">提供 VIM 从零到专业一站式的资源。</div>
            </div>
            <div class="pic">
                <img src="/img/vim1.png">
            </div>
        </div>    
        <div class="main-intro">
            <div class="subintro">
                <h1>这里有</h1>
                <h5>我们尽可能提供充分的 VIM 学习资源，让所有用户能快速的从零入门 VIM，
                    不论是想将其作为主要编辑工具，还是在服务器上进行简单的操作，都能得心应手。</h5>
            </div>
            <div class="intro-content">
                <div class="line-two">
                    <div class="item">
                        <div class="icon fa fa-book"></div>
                        <div class="title">基础教程</div>
                        <div class="content">这里整理了 VIM 最基础的操作说明，从零入手，一点一点了解 VIM 的操作原理。</div>
                    </div>
                    
                    <div class="item">
                        <div class="icon fa fa-flash"></div>
                        <div class="title">交互教程</div>
                        <div class="content">翻译自 openvim 的交互教程，在浏览器中模拟操作 VIM，学的更轻松。</div>
                    </div>
                    
                    <div class="item">
                        <div class="icon fa fa-file"></div>
                        <div class="title">配置文件讲解</div>
                        <div class="content">从基础解析配置文件各项内容，制定出适合自己的 VIM 配置文件。</div>
                    </div>
                </div>
                <div class="line-one">
                    <div class="item">
                        <div class="icon fa fa-fire"></div>
                        <div class="title">插件推荐</div>
                        <div class="content">精选优秀的插件，安装，配置一站式服务。</div>
                    </div>
                    
                    <div class="item">
                        <div class="icon fa fa-search"></div>
                        <div class="title">发现插件</div>
                        <div class="content">基于 awesome-vim 的插件检索，几乎能找到所有的 VIM 插件。</div>
                    </div>
                    
                    <div class="item">
                        <div class="icon fa fa-code"></div>
                        <div class="title">语言环境搭建</div>
                        <div class="content">针对不同的开发语言配置 VIM。</div>
                    </div>
                </div>
            </div>
            <div class="join-us">
                <h1>加入我们</h1>
                <div class="content">有好的点子？有聪明的使用技巧？有通俗易懂的操作解释？来吧，加入我们吧！</div>
                <div class="t-button">
                    <button class="ui button blue join-button">加 入</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.ui.dropdown').dropdown({
                on:'hover'
            });
        })
    </script>
{% endblock %}
